.container01 {
    width: 240px;
    margin: auto;
}

.websites {
    max-width: 200px;
}

.websites img {
    max-width: 200px;
}

.top p {
    right: 150px;
    bottom: 70px;
}
#skills p {
    font-size: 16px;
}

footer {
    height: fit-content;
    flex-direction: column;
}
